* {
    font-family: 'Roboto','sans-serif';
}

body {
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 400px;
    min-width: 0px;
}

.top-total {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
}

.links ul {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.top-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.top-content {
    display: flex;
    margin-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

.top-content img {
    max-width: 50%;
    height: fit-content;
}

.top-words {
    flex: 3;
    padding-right: 128px;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
    border: none;
}

.mid-content h1 {
    text-align: center;
    margin-top: 48px;
    font-size: 36px;
}

.mid-content ul {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap: 24px;
    padding: 48px;
    min-width: 0;
}

.mid-content li {
    text-align: center;
    max-width:min-content;
    font-size: 18px;
}

.mid-content img {
    width: fit-content;
    max-height: 250px;
    min-width: 0;
    border: #3882f6 solid 8px;
    border-radius: 12px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 48px;
}

.quote-section p {
    font-size: 36px;
    color:#1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-section h2 {
    text-align: right;
}

.container {
    background-color: #3882f6;
    margin: 48px;
    border-radius: 24px;
    padding: 24px 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .words {
    color:#f9faf8;
}

.container p {
    font-size: 18px;
}

.container button {
    border:#f9faf8 solid 2px;
    height:min-content;
    width: 15%;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color:#f9faf8;
    padding: 24px;
    font-size: 18px;
}